<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title></title>
    <style>
        .zoom:hover{
            transform: scale(1.1);
        }
        .column{
            float: left;
            height: 380px;
            padding: 10px;
        }
        .left{
            width: 60%;
        }
        .right{
            width: 40%;
            background-color: lightgrey;
        }
    </style>

    <script>
        function myFunc(){
            document.getElementById("tableCustom").classList.remove('d-none');
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 d-none d-sm-block column left">
                <div>
                    <h1 style="margin-top: 100px;">{{title}}</h1>
                    <a href="#" class="me-4 text-reset">
                        <i class="bi bi-facebook" style="color: #4267B2;"></i>
                    </a>
                    <a href="#" class="me-4 text-reset">
                        <i class="bi bi-twitter" style="color: #00acee;"></i>
                    </a>
                    <a href="mailto:srivatsavkumar5555@gmail.com" class="me-4 text-reset">
                        <i class="bi bi-envelope-fill" style="color: #4285F4;"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="bi bi-instagram" style="color:  #8a3ab9;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/srivatsav-kumar-patapanchala/" class="me-4 text-reset">
                        <i class="bi bi-linkedin" style="color: #0e76a8;"></i>
                    </a>
                    <a href="https://github.com/SrivatsavKumar" class="me-4 text-reset">
                        <i class="bi bi-github" style="color: #4078c0;"></i>
                    </a>
                    <br>
                    <br>
                    <button class="btn btn-info" type="button" (click)="myFunc()">
                        Technical Skills
                    </button>
                </div>
            </div>
            
            <div class="col-sm-7 d-block d-sm-none">
                <div>
                    <h1 style="margin-top: 70px;">{{title}}</h1>
                </div>
            </div>
            <div class="col-sm-5 d-none d-sm-block column right">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 style="text-align: center;">PROFILE INFORMATION</h4>
                    </div>
                </div>
                <div class="row">
                    <img src="assets/images/profile.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-5 d-block d-sm-none">
                <div class="row">
                    <img src="assets/images/profile.jpg">
                </div>
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary"><a href="https://www.linkedin.com/in/srivatsav-kumar-patapanchala/" style="text-decoration: none; color: black">Linked In</a></li>
                        <li class="list-group-item list-group-item-primary"><a href="https://github.com/SrivatsavKumar" style="text-decoration: none; color: black">Git Hub</a></li>
                    </ul>
                </div>
                <br>
                <button class="btn btn-info" type="button" (click)="myFunc()">Technical Skills</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-7 d-none" style="height: 300px; overflow: auto;" id="tableCustom">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>
                                S No
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Skill Name
                            </th>
                            <th>
                                Skill Rating
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Programming Languages</td>
                            <td>C</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Programming Languages</td>
                            <td>C#</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Programming Languages</td>
                            <td>Python</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Programming Languages</td>
                            <td>JAVA</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Programming Languages</td>
                            <td>SQL</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Programming Languages</td>
                            <td>TypeScript</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Web Development</td>
                            <td>HTML</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Web Development</td>
                            <td>CSS</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Web Development</td>
                            <td>Bootstrap</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Web Development</td>
                            <td>JavaScript</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Web Development</td>
                            <td>Jquery</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Web Development</td>
                            <td>AJAX</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Web Development</td>
                            <td>DJANGO</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Web Development</td>
                            <td>Microsoft .NET Framework</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Web Development</td>
                            <td>AngularJS</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Web Development</td>
                            <td>REST API</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Databases</td>
                            <td>PostgreSql</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Databases</td>
                            <td>MS-SQL</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Databases</td>
                            <td>MongoDB</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>Machine Learning Libraries</td>
                            <td>Pandas</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Machine Learning Libraries</td>
                            <td>Numpy</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>Machine Learning Libraries</td>
                            <td>Scipy</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>22</td>
                            <td>Machine Learning Libraries</td>
                            <td>Matplotlib</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-half" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>23</td>
                            <td>IDEs</td>
                            <td>Python Jupyter Notebook</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>24</td>
                            <td>IDEs</td>
                            <td>Visual Studio</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>IDEs</td>
                            <td>Visual Studio Code</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-half" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>Other Tools</td>
                            <td>GIT</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>Other Tools</td>
                            <td>AWS - EC2</td>
                            <td><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star-fill" style="color: gold"></i>
                                <i class="bi bi-star-fill" style="color: gold;"></i><i class="bi bi-star" style="color: gold;"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-7">
                <p>Graduate Student from <a href="https://www.asu.edu/" style="text-decoration: none;"><b style="color:#8C1D40;">
                    Arizona State University</b></a> with Master's degree in 
                    Computer Science Department having coursework of Distributed Database Systems,
                    Foundation of Algorithms, Statistical Machine Learning, Artificial Intelligence,
                    Info Assurance and Security, Data Mining. I have experience in 
                    Web Application development using .NET Framework, django Framework. Seeking
                    Intern oppurtunities as Software Development Engineer/ Software Developer/ Full Stack Developer.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <a type="button" href="assets/ResumeFT.pdf" class="btn btn-secondary zoom" (click)="downloadResume()">Download Resume <i class="bi bi-file-earmark-arrow-down-fill"></i></a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a type="button" href="assets/SSR_TSRPT.pdf" class="btn btn-success zoom" (click)="downloadTranscripts()">Get Latest Transcripts</a>
                    </div>
                    <!--
                    <div class="col-sm-12 col-md-4">
                        <button type="button" class="btn btn-secondary">Contact <i class="bi bi-phone"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
</body>
</html>
